fastapi[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic-settings

pandas
numpy
scikit-learn
torch
pytorch-tabnet
shap
mitreattack-python
stix2

pytest
pytest-asyncio
httpx
testcontainers
factory_boy
ruff